<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div>
      <div class="preloader-background">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div
          class="col s12 l6 offset-l3 z-depth-4 login-container"
          style="margin-top: 150px; border: blue dotted 4px;"
        >
          <div class="row">
            <img
              src="/img/gittropper.png"
              class="col s6 l6 offset-l3 offset-s3 circle responsive-img"
              alt="Git Cat Tropper"
            />
            <a
              class="col s6 l6 offset-l3 offset-s3 waves-effect waves-light btn social github"
              style="margin-top: 30px; margin-bottom: 20px;"
              href="/auth/github"
            >
              <i class="fa fa-github"></i> Sign in with github
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        $(".preloader-background")
          .delay(1700)
          .fadeOut("slow");

        $(".preloader-wrapper")
          .delay(1700)
          .fadeOut();
      });
    </script>
  </body>
</html>
